PORT=4000
MONGO_URI=mongodb://localhost:27017/ad-chat-app
JWT_SECRET=replace-with-secure-random-string
JWT_REFRESH_SECRET=replace-with-secure-random-string-for-refresh-tokens
CLIENT_ORIGINS=http://localhost:5173,https://73.d0s369.co.in
PUBLIC_ASSET_BASE_URL=https://28c.d0s369.co.in



mongodb+srv://infoalgotwist_db_user:55zhwdorMn07uanx@cluster0.ejdcjld.mongodb.net/crm_dashboard